modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 12039
externalPort = 3002
exposeLocalhost = true

[[ports]]
localPort = 12737
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 15584
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 15813
externalPort = 8099
exposeLocalhost = true

[[ports]]
localPort = 16252
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 19442
externalPort = 3003
exposeLocalhost = true

[[ports]]
localPort = 25284
externalPort = 8008
exposeLocalhost = true

[[ports]]
localPort = 28743
externalPort = 6800
exposeLocalhost = true

[[ports]]
localPort = 30539
externalPort = 8000
exposeLocalhost = true

[[ports]]
localPort = 31324
externalPort = 8081
exposeLocalhost = true

[[ports]]
localPort = 31652
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 31713
externalPort = 9000
exposeLocalhost = true

[[ports]]
localPort = 62709
externalPort = 8080
exposeLocalhost = true

[[ports]]
localPort = 63839
externalPort = 6000
exposeLocalhost = true

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["node", "./dist/index.cjs"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
CDP_API_KEY_ID = "a84fe446-5289-480f-9b54-6317b370da31"
CDP_API_KEY_SECRET = "S6Fduh2AdRTJaoy76EjCGtFuFxB2UeiU"
CDP_WALLET_SECRET = "MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgPSXqjVYFV+b7W5L7D/R/GRyrTBTB0KLsR4c0TDpGHFmhRANCAAR/3Az5P/YHA0XCWofCk/P9NGbOlFh5bPb1nqep1WwpTWiClM+k07us8G0lKXaDoaTeb+ZL/o0st9yEQAbYOZuD"
